<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="add-sizing-links-to-top-menu" type="Harriswebworks\Sizing\Plugin\Theme\Block\Html\TopmenuPlugin" />
    </type>
    <type name="Harriswebworks\Sizing\Plugin\Theme\Block\Html\TopmenuPlugin">
        <arguments>
            <argument name="nodeData" xsi:type="array">
                <item name="sizing_size" xsi:type="array">
                    <item name="name" xsi:type="string" translate="true">Sizes</item>
                    <item name="id" xsi:type="string">sizing_size</item>
                    <item name="url" xsi:type="array">
                        <item name="class" xsi:type="object">Harriswebworks\Sizing\ViewModel\Size\Url</item>
                        <item name="method" xsi:type="string">getListUrl</item>
                    </item>
                    <item name="activeHandles" xsi:type="array">
                        <item name="index" xsi:type="string">sizing_size_index</item>
                        <item name="view" xsi:type="string">sizing_size_view</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
