<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sizing" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sizing</label>
            <tab>general</tab>
            <resource>Harriswebworks_Sizing::sizing_config</resource>
            <group id="size" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Size</label>
                <field id="short_description" type="editor" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Short description</label>
                    <frontend_model>Harriswebworks\Sizing\Block\Adminhtml\System\Config\Form\Field\Editor</frontend_model>
                </field>
                <field id="breadcrumbs" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="meta_title" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List page meta title</label>
                </field>
                <field id="meta_description" type="text" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List page meta description</label>
                </field>
                <field id="meta_keywords" type="text" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List page meta keywords</label>
                </field>
            </group>
        </section>
    </system>
</config>
